<div class= "fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50 text-black ">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-3xl grid grid-cols-1 md:grid-cols-2">
        <div class = "flex flex-col justify-center items-center">
            <%= image_tag '', alt: 'pretty picture' , class: 'w-32'%>
        </div>
        <div class = "flex flex-col justify-center items-center">
            <%= yield%>
        </div>
    </div>
</div>