<%= turbo_frame_tag "auth_modal" do %>
<div data-controller="modal" 
       data-action="click->modal#close"
       data-modal-target="background" class= "fixed inset-0 backdrop-blur flex justify-center items-center z-50 text-black ">
    <div data-modal-target="content" class="bg-white rounded-lg shadow-lg w-full max-w-3xl grid grid-cols-1 md:grid-cols-2 md:h-150">
        <div class = "md:flex md:flex-col md:justify-center md:items-center hidden">
            <%= image_tag 'maze.jpg', alt: 'pretty picture' , class: 'w-full h-150 object-cover'%>
        </div>
        <div class = "flex flex-col justify-center items-center">
            <%= yield%>
        </div>
    </div>
</div>
<% end %>