

    <!-- Navigation -->
    <nav class="flex-1 space-y-4 text-sm">
      <%= link_to "Dashboard", dashboard_path(page: 'dashboard'), class: "block hover:bg-gray-700 rounded px-4 py-2 text-sm font-semibold" %>
      <%# <p class="text-gray-400 text-xs mt-4 uppercase">Folders</p> %>
     <!-- Products Section -->

 <li class="list-none">
  <button data-controller="sidebar" data-action="click->sidebar#toggle" class="block py-2 px-4 text-white  hover:bg-gray-700 rounded-md text-left w-full text-sm font-semibold">
    Products
  </button>
  <ul data-sidebar-target="menu" class="hidden  list-none bg-gray-700">
    <li>
      <button class="block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" onclick="window.location='/products/view';">
        View
      </button>
    </li>
    <li>
      <button class="block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" onclick="window.location='/products/add';">
        Add
      </button>
    </li>
  </ul>
</li>

<li class="list-none">
  <button data-controller="sidebar" data-action="click->sidebar#toggle" class="block py-2 px-4 text-white hover:bg-gray-700 rounded-md text-left w-full text-sm font-semibold">
    Employees
  </button>
  <ul data-sidebar-target="menu" class="hidden  list-none bg-gray-700">
    <li>
      <button class="block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" onclick="window.location='/employees/view';">
        View
      </button>
    </li>
    <li>
      <button class="block py-2 px-4 hover:bg-gray-600 rounded-md text-left w-full" onclick="window.location='?page=invite-user';">
        Add
      </button>
    </li>
  </ul>
</li>


    </nav>

    <!-- Add Files Button -->
    <%# <div class="mt-6">
      <button class="w-full bg-gray-700 hover:bg-gray-600 py-2 rounded-xl flex items-center justify-center space-x-2">
        <span>+</span>
        <span>Add files</span>
      </button>
    </div> %>